h1 {
    color: blue;
    font: { // nested  styles related to the font instead of writing font-family etc write font as a style within a style.      
        family: Arial, Helvetica, sans-serif;
        size: 2em;
        weight: bold;}
}
section { // nested style sheet - everything relates to section
    article { // another nested section that is article
        h2 {
            color: red; 
           }
       p {
           color: black;
       }
            &#article-1 { // use the ampersand to add ontop the end of article so it 'article#article' not 'article #article'
                background-color: yellow;
            }
            &#article-2 { 
                a { color: black;
                    &:hover {color:green;}
                    }
            }
            body:hover &#article-2 { 
                background: black;
                   
            }

    }
   
}
aside p {
    color: grey;
}